# 한국투자증권 KIS API
KIS_APP_KEY='PSHX7utdfA0yB0uduHu5OrHIDCi0fdP4lhK1'
KIS_APP_SECRET='6kWKlRo1K7h2bwkEwmi1oZlZ9TwOnNTfceqJReRv6PFPbQPM1XM9ekxouOA5Y8lazik7KsS15SxTPxw8LaibT1VaIkjfY30pnaPC8k2/tB0RvZ7SThqccBhifAyUZUyKx5jV1O0UBv0SnvVEqiV8YS9Z9KWKLhap6IsuXT5+uFtefWn9ii4='
KIS_ACCOUNT_NO=1263056365-01
KIS_IS_MOCK=true          # true=모의투자, false=실전투자

# Slack
SLACK_BOT_TOKEN=xoxb-your-bot-token
SLACK_APP_TOKEN=xapp-your-app-token
SLACK_CHANNEL_ID=C0123456789
SLACK_SIGNING_SECRET=your_signing_secret
